# Flask and related dependencies
flask>=2.0.1
flask-cors>=3.0.10
flask-sqlalchemy>=2.5.1
flask-migrate>=3.1.0
flask-jwt-extended>=4.3.1
gunicorn>=20.1.0

# Database dependencies
# psycopg2-binary==2.9.1  # Removed since we're using SQLite
python-dotenv>=0.19.0

# Machine Learning dependencies
pandas>=1.5.0
numpy>=1.21.0
scikit-learn>=1.0.0
scipy>=1.7.1
transformers>=4.30.0
optuna>=3.1.0

# Miscellaneous utilities
werkzeug>=2.0.1
